
body {
    display: flex;
    height: 100vh;
    background-image: url(../images/pexels-karolina-grabowska-7680154.jpg)  ;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
  }


  .table-container {
    
   height: 300px;
    background-image: rgb(26, 93, 151);
    display: flex;
    gap: 20px; 
}
            
            
        
        .boxes{
            float: left;
            border: .1px solid;
            width: 99px;
            height: 99px;
            text-align: center;
            font-size: 30px;
        }
       
        .go-home{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            padding: 15px;
        }

        #box1{
            
            background-color: green;
        }
        #box2{
            background-color: yellow;
        }
        #box3{
            background-color: pink;
        }
        #box4{
            background-color: blue;
        }
        #box5{
            background-color: red;
        }
        #box6{
            background-color: orange;
        }
        #box7{
            background-color:beige;
        }
        #box8{
            background-color: lightgrey;
        }



